.highlight {
  border-radius: 0.4rem;
  color: black;
  padding: 0.5rem;
}
.bold {
  font-weight: 700;
}
.blue {
  background-color: lightcoral;
}
.red {
  background-color: lightblue;
}

.yellow {
  background-color: lightyellow;
}